html {
    background: linear-gradient(to top, #1a2a6c, #b21f1f, #fdbb2d);
    background-image: url('../ressources/background.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: Futura;
}

body {
  height: 100vh;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
}

.container {
  flex: 1;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.container h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

.container li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.container li span {
  display: block;
  font-size: 4.5rem;
}

.container .message span {
  font-size: 4rem;
}

.container #content {
  display: none;
  padding: 1rem;
}

.container .emoji {
  padding: 0 .25rem;
}

.datepicker {
  flex: 1;
}

.datepicker #date {
  color: white;
  border-color: white;
  background-color: transparent;
  text-align: center;
  border-width: thick;
  padding: .5em 0;
  font-size: 2em;
}

.datepicker #date:hover {
  background-color:rgba(0, 0, 0, 0.3);
  transition: all 1s ease-in-out;
}

.icons a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin: 15px;
}

.mc-date {
  color: black;
}

#mc-current--year span {
  transform: translateX(-25px);
}

#mc-current--month span {
  transform: translateX(-45px);
}